.title {
  margin-block-end: 2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;

  .main {
    font-size: 1.3em;
  }
}

@keyframes rotate-anime {
  0% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

.rotate {
  display: inline-block;
  padding-inline: 3px;

  &:nth-child(even) {
    animation: rotate-anime 1.5s ease-in-out infinite alternate-reverse forwards;
  }

  &:nth-child(odd) {
    animation: rotate-anime 1.5s ease-in-out infinite alternate forwards;
  }
}
