<div class="container">
  <div class="game-container" [@switchView]>
    <div class="progress-container">
      <co-game-progress [numOfTry]="numOfTry" [gameStatus]="gameStatus" (restarted)="onRestarted($event)"></co-game-progress>
    </div>
    <co-flip-result></co-flip-result>
    <div class="cards-board">
      <co-card-list [cards]="cards" (cardClicked)="onCardClicked($event)"></co-card-list>
    </div>
    <!-- <div class="functions">
      <a class="cheat-icon" (click)="cheat()" *ngIf="gameStatus === GameStatus.Playing">
        <i class="fa fa-eye"></i>
      </a>
    </div> -->
  </div>
</div>