<div>
  <div *ngIf="showsController" [@switchView]>
    <co-game-controller (started)="onStarted($event)"></co-game-controller>
  </div>

  <div *ngIf="showsCards" [@switchView]>
    <div class="progress-container">
      <co-game-progress [numOfFlipping]="numOfFlipping" [numOfCheating]="numOfCheating" [gameStatus]="gameStatus" (restarted)="onRestarted($event)"></co-game-progress>
    </div>
    <co-flip-result></co-flip-result>
    <div class="cards-board">
      <co-card-list [cards]="cards" (cardClicked)="onCardClicked($event)"></co-card-list>
    </div>
    <div class="functions">
      <button mat-button (click)="cheat()" *ngIf="gameStatus === GameStatus.Playing">Cheat</button>
    </div>
  </div>
</div>