@import '~style/_variables.sass'

$card-size-sm: 50px
$card-size-md: 100px
$color-border: #ccc

.container
  width: 100%
  height: 100%
  position: relative
  perspective: 800px
.card
  border: 1px solid $color-border
  border-radius: 5px
  width: 100%
  height: 100%
  position: absolute
  -webkit-transition: -webkit-transform 1s
  -moz-transition: -moz-transform 1s
  -o-transition: -o-transform 1s
  transition: box-shadow, transform 0.5s
  transform-style: preserve-3d
  @media (hover: hover)
    &:not(.flipped):hover
      box-shadow: 5px 5px 10px $color-border
      transform: scale(1.1, 1.1)
  &:not(.flipped)
    box-shadow: 1px 1px 2px $color-border
  &.flipped
    transform: rotateY(180deg)
    box-shadow: -1px 1px 2px $color-border
    cursor: default
  .front, .back
    background-color: #fff
    display: block
    height: 100%
    width: 100%
    text-align: center
    position: absolute
    backface-visibility: hidden
    transition: transform, color 0.3s ease-in-out
  .front
    background-color: #f0f0f0
    cursor: pointer
  .back
    display: flex
    justify-content: center
    align-items: center
    transform: rotateY(180deg)
    &.done
      color: #8fd08f

@media only screen and (max-width : $device-size-md)
  .card
    .front, .back
