.container {
  display: grid;
  gap: 12px;
}

.four-cards {
  max-inline-size: 540px;
  margin-inline: auto;
  grid-template-columns: repeat(4, 1fr);
}

.six-cards {
  grid-template-columns: repeat(6, 1fr);
}

app-card {
  min-inline-size: 0;
  aspect-ratio: 1;
}

@media (width <= 600px) {
  .container {
    gap: 8px;
  }
}

@media (width <= 450px) {
  .six-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
