.button {
  --color-border: var(--gray-5);

  position: relative;
  inline-size: 100%;
  block-size: 100%;
  border: none;
  background-color: transparent;
  perspective: 800px;

  &:disabled {
    color: unset;
  }
}

.card {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition:
    -webkit-transform 1s,
    -moz-transform 1s,
    -o-transform 1s,
    box-shadow 0.5s,
    transform 0.5s;

  &:not(.flipped) {
    box-shadow: 1px 1px 2px var(--color-border);
  }

  &.flipped {
    box-shadow: -1px 1px 2px var(--color-border);
    transform: rotateY(180deg);
    cursor: default;
  }

  .front,
  .back {
    position: absolute;
    display: grid;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 10px;
    place-items: center;
    font-size: var(--font-size-8);
    backface-visibility: hidden;
    transition:
      transform,
      color 0.3s ease-in-out;
  }

  .front {
    background-color: var(--gray-2);
    cursor: pointer;
  }

  .back {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
  }
}

@media (hover: hover) {
  .card:not(.flipped):hover {
    box-shadow: 5px 5px 10px var(--color-border);
    transform: scale(1.1, 1.1);
  }
}
