.container {
  display: flex;
  block-size: 100vh;
  align-items: center;
  justify-content: center;
}

.controller-container {
  inline-size: 100%;
}

.game-container {
  position: relative;
}

.progress-container {
  margin-block-end: 15px;
}

.functions {
  margin-block-start: 15px;
  text-align: end;
}

.icon-container {
  text-align: center;
}

.icon-btn {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 3rem;
  color: #aaa;
}

.cards-board {
  max-inline-size: 800px;
  margin-inline: auto;
}

@media only screen and (width <= 700px) {
  .cards-board {
    max-inline-size: 100%;
  }
}
