<div class="container">
  <h1>
    <span class="rotate">🤔</span>
    <span class="rotate">神</span>
    <span class="rotate">経</span>
    <span class="rotate">衰</span>
    <span class="rotate">弱</span>
    <span class="rotate">🤔</span>
  </h1>

  <mat-form-field>
    <mat-select placeholder="難易度" [(ngModel)]="numOfCard">
      <mat-option *ngFor="let diff of difficulties" [value]="diff.num">
        {{ diff.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" class="start-button" (click)="start()">はじめる</button>
</div>