.container
  text-align: center
  max-width: 600px
  margin-right: auto
  margin-left: auto

  .rotate
    display: inline-block
    padding-left: 3px
    padding-right: 3px
    &:nth-child(even)
      animation: rotate-anime 1.5s ease-in-out infinite alternate-reverse forwards
    &:nth-child(odd)
      animation: rotate-anime 1.5s ease-in-out infinite alternate forwards

    @keyframes rotate-anime
      0% 
        transform: rotate(-20deg)
      100% 
        transform: rotate(20deg)

  .start-button
    width: 300px
    height: 3rem
    font-size: 2rem
    color: #444
