<div class="container">
  <h1>
    <span class="rotate">🤔</span>
    <span class="rotate">神</span>
    <span class="rotate">経</span>
    <span class="rotate">衰</span>
    <span class="rotate">弱</span>
    <span class="rotate">🤔</span>
  </h1>

  <mat-grid-list cols="1" rowHeight="60px">
    <mat-grid-tile *ngFor="let diff of difficulties" colspan="1" rowspan="1">
      <button mat-raised-button class="start-button" (click)="start(diff)">{{diff.label}}</button>
    </mat-grid-tile>
  </mat-grid-list>


</div>