.container {
  position: absolute;
  z-index: 100;
  inline-size: 100%;
  text-align: center;

  .result {
    z-index: 100;
    font-size: 60px;
    font-weight: bold;
    white-space: pre-wrap;

    &.correct {
      background: linear-gradient(rgb(151 255 0 / 50%), rgb(0 114 6 / 70%));
    }

    &.wrong {
      background: linear-gradient(rgb(250 0 0 / 20%), rgb(255 0 0 / 80%));
    }

    &.finish {
      font-size: 70px;
      background: linear-gradient(rgb(151 255 0 / 50%), rgb(0 114 6 / 70%));
    }

    &.correct,
    &.wrong,
    &.finish {
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.unclickable {
  cursor: default;
  user-select: none;
  pointer-events: none;
}
