@import url("reset-css");
@import url("open-props/style");

html {
  block-size: 100%;
  font-size: 62.5%;
}

body {
  block-size: 100%;
  margin: 0;
  font-family: var(--font-sans);
  color: var(--gray-9);
}

* {
  box-sizing: border-box;
}
