<div class="container">
  <div class="inner-container">
    <div class="title">
      <div>
        <span class="rotate">🤔</span>
        <span class="rotate" *ngFor="let c of 'えもじ'.split(''); index as i">{{
          c
        }}</span
        ><span class="rotate">🤔</span>
      </div>
      <div>
        <span class="rotate">🤔</span>
        <span
          class="rotate"
          *ngFor="let c of '神経衰弱'.split(''); index as i"
          >{{ c }}</span
        >
        <span class="rotate">🤔</span>
      </div>
    </div>

    <div>
      <button
        class="start-button"
        *ngFor="let diff of difficulties"
        (click)="start(diff)"
      >
        <span>{{ diff.label }}</span>
        <span class="icon">{{ diff.icon }}</span>
      </button>
    </div>
  </div>
</div>
