<div class="container">
  <div class="inner-container">
    <div class="title">
      <div>
        <span class="rotate">🤔</span>
        <span
          class="rotate"
          *ngFor="let c of 'えもじ'.split(''); index as i"
          >{{ c }}</span
        >
        <span class="rotate">🤔</span>
      </div>
      <div>
        <span class="rotate">🤔</span>
        <span
          class="rotate"
          *ngFor="let c of '神経衰弱'.split(''); index as i"
          >{{ c }}</span
        >
        <span class="rotate">🤔</span>
      </div>
    </div>

    <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile *ngFor="let diff of difficulties" colspan="1" rowspan="1">
        <button mat-raised-button class="start-button" (click)="start(diff)">
          <span>{{ diff.label }}</span>
          <span class="icon">{{ diff.icon }}</span>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
