@import '~style/_variables.sass'

.container
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

  .inner-container
    text-align: center
    width: clamp(280px, calc(100vw - 32px), 480px)

.title
  font-size: 2.5rem
  font-weight: bold
  margin-bottom: 1rem

.rotate
  display: inline-block
  padding-left: 3px
  padding-right: 3px
  &:nth-child(even)
    animation: rotate-anime 1.5s ease-in-out infinite alternate-reverse forwards
  &:nth-child(odd)
    animation: rotate-anime 1.5s ease-in-out infinite alternate forwards

  @keyframes rotate-anime
    0%
      transform: rotate(-20deg)
    100%
      transform: rotate(20deg)

.start-button
  color: #444
  font-size: 4rem
  background-color: #fff
  width: 100%
  margin: 1rem 0
  padding: 0.5rem
  transition: transform 0.2s
  box-shadow: 1px 1px 3px 0 hsla(0, 99%, 0%, 0.5)
  border: none
  border-radius: 1rem
  cursor: pointer
  &:hover
    transform: scale(1.05, 1.05)
    .icon
      transform: rotate(20deg)

  .icon
    transition: transform 0.2s
    display: inline-block

@media only screen and (min-width: $device-tablet)
  .title
    font-size: 2rem
  .start-button
    font-size: 5rem
    box-shadow: 1px 1px 5px 0 hsla(0, 99%, 0%, 0.5)

@media only screen and (min-width: $device-tablet)
  .title
    font-size: 4rem



