.container {
  display: flex;
  block-size: 100dvh;
  align-items: center;
  justify-content: center;

  .inner-container {
    inline-size: clamp(280px, calc(100vw - 32px), 680px);
    text-align: center;
  }
}

.button-container {
  --button-gap: var(--size-6);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  gap: var(--button-gap) var(--button-gap);
}

.start-button {
  inline-size: 100%;
  padding: var(--size-2);
  border: none;
  border-radius: var(--size-4);
  overflow: hidden;
  font-family: var(--font-sans);
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-7);
  color: var(--gray-8);
  background-color: var(--gray-0);
  box-shadow: 1px 1px 3px 0 hsl(0deg 99% 0% / 50%);
  transition: scale 0.2s;
  cursor: pointer;

  --button-transition: all 0.3s var(--ease-in-out-3);

  .label {
    transition: var(--button-transition);
  }

  .icon {
    display: inline-block;
    transition: var(--button-transition);
  }

  &:hover {
    scale: 1.05, 1.05;

    .icon {
      rotate: 20deg;
    }
  }
}

@media only screen and (width >= 768px) {
  .button-container {
    --button-size: 29rem;
    --button-gap: var(--size-8);

    inline-size: calc(var(--button-size) * 2 + var(--button-gap));
    margin-inline: auto;
    margin-block: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .start-button {
    inline-size: var(--button-size);
    block-size: var(--button-size);
    font-size: var(--font-size-8);
    box-shadow: 1px 1px 5px 0 hsl(0deg 99% 0% / 50%);

    .label {
      display: block;
      translate: 0 2em;
    }

    .icon {
      display: block;
      font-size: 10rem;
      translate: 0 calc(var(--button-size) / 2 + 3rem);
    }

    &:hover {
      .label {
        translate: 0 0;
      }

      .icon {
        translate: 0 0;
        rotate: 0;
      }
    }
  }
}
